.container {
    display: block;
    /* flex-direction: column;
    height: 130px;
    align-items: flex-start; */
}
.text {
    font-size: 18px;
    font-weight: 600;

}
.btnDelete {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    font-size: 18px;
    font-weight: 600;
}
.wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}